*{
    -fx-text-fill: #ccc;
    -fx-font-weight: 700;
}

.body{
    -fx-font-size: 15;
    -fx-background-color: #36363c;
}

.scriptsParent{
    -fx-spacing: 14;
    -fx-padding: 7 0 0 7;
}

.scripts .content{
    -fx-font-size: 15;
    -fx-background-color: #36363c;
}

.saveUpdate{
    -fx-padding: 7 0 0 7;
}

.savedInfo{
    -fx-text-fill: forestgreen;
}

.saveLoadInfo{
    -fx-padding: 6 0 0 7;
}

.help{
    -fx-padding: 12 0 0 0;
    -fx-font-size: 14;
}

.topBar{
    -fx-background-color: #282828;
}

.closeButton{
    -fx-background-color: #282828;
    -fx-text-fill: white;
    -fx-font-weight: 900;
    -fx-padding: 4;
    -fx-alignment: center;
}
.closeButton:hover{
    -fx-background-color: #ff0000;
}

.minimizeButton{
    -fx-background-color: #282828;
    -fx-text-fill: white;
    -fx-font-weight: 900;
    -fx-padding: 4;
    -fx-alignment: center;
}
.minimizeButton:hover{
    -fx-background-color: STEELBLUE;
}


.zestawButton{
    -fx-border-style: none;
    -fx-background-color: #282828;
    -fx-padding: 5;
}

.actualZestaw{
    -fx-border-style: none;
    -fx-text-fill: #ffffff;
    -fx-background-color: STEELBLUE;
    -fx-padding: 5;
}

.zestawButton:hover{
    -fx-text-fill: #ffffff;
    -fx-background-color: #484848;
}

.presserParent{
    -fx-spacing: 7;
}
.setter{
    -fx-spacing: 14;
}

.input{
     -fx-text-fill: white;
     -fx-background-color: #505050;
}

.addButton{
    -fx-background-color: forestgreen;
    -fx-font-size: 20 !important;
    -fx-text-fill: white;
    -fx-padding: 0;
    -fx-font-weight: bolder;

}

.addButton:hover{
    -fx-background-color: darkgreen;
}
